<app-top-header></app-top-header>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <h3>控制台</h3>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>概览 Overview</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item>摘要 Summary</mat-list-item>
                    <mat-list-item>图表 Dashboard</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>集成 Integration</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item>第三方</mat-list-item>
                    <mat-list-item>密钥</mat-list-item>
                    <mat-list-item>Paprika</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>智能应用</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item>模型</mat-list-item>
                    <mat-list-item>密钥</mat-list-item>
                    <mat-list-item>Paprika</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <button (click)="sidenav.toggle()">toggle</button> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>